@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    position: relative;

    padding: 6px 20px;
    font-size: 14px;
    font-weight: 500;
    font:italic;
    text-transform: uppercase;
    color: white;
    background-color:indianred;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .button:active {
    transform: scale(0.9);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(17, 124, 51), #aa1b7d);
    transition: all 1.2s ease-in-out;
    z-index: -1;
    border-radius: 50px;
  }
  
  .button:hover::before {
    right: 100%;
  }